.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visbility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.modal__close {
  background-image: url(../../assets/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 435px;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 436px;
  height: 496px;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label-title {
  margin-bottom: 10px;
}

.modal__input {
  display: block;
  max-width: 440px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal__legend {
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.modal__label_type_radio {
  padding-bottom: 10px;
}

.modal__radio-input {
  accent-color: black;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  width: 124px;
  height: 36px;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}
