.modal__content-preview {
  max-width: 343px;
  width: 100%;
  padding: 0;
}

.modal__image-preview {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.modal__close-preview {
  margin-left: 310px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/closepreview.png) rgba(255, 255, 255, 1);
}

.modal__caption {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  margin: 0;
  font-weight: 700;
}

.modal__weather {
    line-height: 24px;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0px 0px 0px 10px;
}
