.clothes-info {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.clothes-add-button {
  border: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  line-height: 24.8px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  cursor: pointer;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.clothes-section-title {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  line-height: 24.8px;
  color: rgba(0, 0, 0, 1);
}
